@media (max-width:780px)  {
    
    .navigation{
        display: none;
    }
    .burger{
        display: block;
    }
}

@media (max-width:585px) {
    .header{
        justify-content: space-around;
    }
       /*1-offer*/
  .place-box-1{
   max-width: 380px;
   width: 100%;
}
.place-box-img-1{
    max-width: 380px;
    width: 100%;
    border-radius: 15px;
}
.place-box-icon{
    max-width: 380px;
    width: 100%;
}
.place-box-last-section{
    max-width: 380px;
    width: 100%;
}

                /*second-offer*/
.place-box-img-2{
        max-width: 380px;
        width: 100%;
        border-radius: 15px;
    }
          
    .place-box-img-3{
        max-width: 380px;
        width: 100%;
        border-radius: 15px;
    }
    .place-box-img-4{
        max-width: 380px;
        width: 100%;
        border-radius: 15px;
    }
    .place-box-img-5{
        max-width: 380px;
        width: 100%;
        border-radius: 15px;
    }
    .place-box-img-6{
        max-width: 380px;
        width: 100%;
        border-radius: 15px;
    }
                
}

@media (max-width:440px) {
    .background-image-p1{
        font-size: 45px;
        text-align: center;
    }
}