/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

html{
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: #fff;
}
body{
  padding-top: 70px;
}


/*header*/
/*.header {
  max-width: 1280px;
  width: 100%;
  height: 70px;
  margin: 0 auto;
 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 92px;
  height: 30px;
  display: flex;
  align-items: center;
}
.logo-p {
  color: blue;
  font-weight: bold;
}

*/
/*navigation*/
/*.navigation {
  width: 550px;
  height: 30px;
  display: flex;
  
}
.nav {
  display: flex;
  
  text-align: center;
  align-items: center;
}
.nav-ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
  margin-left: 15px;
  align-items: center;
}

.nav-li {
  margin-left: 25px;
  align-items: center;
}*/

/*registarcion*/
/*.registracion {
  width: 105px;
  height: 40px;
  border-radius: 35px;
  align-items: center;
  background-color: rgb(24, 214, 205);
  text-align: center;
}
.regist-p {
  padding-top: 10px;
  margin-top: 10px;
  color: blue;
  font-weight: bold;
  font-size: 18px;
}*/

/*burger*/
/*.burger{
 padding-top: 5px;
justify-content: center;
 width: 35px;
 height: 45px;
 display: none;
}
.fa-bars{
  
  cursor: pointer;
  color: #3B5998;
 font-size: 35px;
}
*/


.navbar{
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding:  0 24px;
  
}

.nav-menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  
}
.nav-branding{
  font-size: 25px;
}
.nav-link{
-webkit-transition:  0.7s ease;
-o-transition:  0.7s ease;
transition:  0.7s ease;
color: #0bb5f8;
font-weight: bold;

}

.nav-link :hover{
  color: #0f69a5;
}

.hamburger{
  display: none;
  cursor: pointer;
}


.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin :5px auto;
  -webkit-transition:all 0.3s ease-in-out ;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #158eeb;
}







/*bacground-image-1*/

.background-image-1 {
  background-image: url(../images/image-1.png);
  max-width: 1280px;
  width: 100%;
  height: 610px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  border-radius: 30px;
}

.bacground-text-1 {
  max-width: 600px;
  width: 100%;
  height: 244px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-top: 300px;
}

.textphoto {
  width: 287px;

  height: 92px;
}

.textwithphoto {
  background-image: url(../images/Layer\ 2.png);
  position: relative;
  width: 287px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.textwithphoto-p {
  position: absolute;
  font-size: 19px;
  color: blue;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
}


.background-image-p1{
  font-size: 60px;
   color: white
}
.background-image-p2{
  font-size: 18px;
   color: white
}








/*animation-section*/
.animation-section{
 
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}




/*section 2*/

.user-box {
  max-width: 1280px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
}

.user-box-1 {
  width: 250px;
  height: 200px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.user-box-p1{
  font-size: 32px;
}
.user-box-p2{
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*section -3*/

.place-offer{
  max-width: 1280px;
  width: 100%;
  height: 265px;

  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.place-offer-p1{
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  color: rgb(83, 162, 226);
  
}

.place-offer-p-box{
  max-width: 1200px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.place-offer-p2{
   color: rgb(83, 162, 226);
   font-weight: bold;
   padding-bottom: 10px;
}
.place-offer-p3{
  color: rgb(83, 162, 226);
  font-weight: bold;
  padding-bottom: 10px;
}
.place-offer-p4{
  color: rgb(83, 162, 226);
  font-weight: bold;
  padding-bottom: 10px;
}
.place-offer-p5{
  
  color: rgb(83, 162, 226);
  font-weight: bold;
  padding-bottom: 10px;
  
}
.offer-box{
  width: 250px;
}


.offer-box :hover{
    color: rgb(5, 105, 145);
    border-bottom: 2px solid rgb(14, 46, 105);
    margin-bottom: 10px;
}



.place-box {
  max-width: 1280px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
}

.place-box-1 {
  max-width: 560px;
  width: 100%;
  height: 645px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.place-box-img-1 {
  background-image: url(../images/Singapore.png);
  width: 560px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.place-box-p1 {
  font-size: 30px;
  color: #0f69a5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.place-box-p2 {
  font-size: 22px;
  color: #1b6ba8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.place-box-icon {
  width: 555px;
  height: 55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.place-box-price{
  font-size: 31px;
   font-weight: bold;
   color: rgb(35, 86, 197);
}

.place-box-last-section {
  width: 560px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 2place */
.place-box-img-2 {
  background-image: url(../images/Thailand.png);
  width: 560px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*3-place*/
.place-box-img-3 {
  background-image: url(../images/Paris.png);
  width: 560px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*4-place*/
.place-box-img-4 {
  background-image: url(../images/Newzel.png);
  width: 560px;
  height: 400px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*5-place*/
.place-box-img-5 {
  background-image: url(../images/Bora\ Bora.png);
  width: 560px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*6-place*/
.place-box-img-6 {
  background-image: url(../images/London.png);
  width: 560px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}







/*section -4*/
.blog-p{
  max-width: 1280px;
  width: 100%;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(39, 107, 209);
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.blog-p :hover{
  color: rgb(5, 105, 145);
  border-bottom: 2px solid rgb(14, 46, 105);
  margin-bottom: 10px;
}


.blog-box{
  max-width: 1280px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
}

.blog-box-1{
 
  max-width: 600px;
  width: 100%;
  height:600px ;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  

}

.blog-box-img-1{
  background-image: url(../images/killim-2.jpg);
  max-width: 600px;
  width: 100%;
  height:600px ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.9;
  
}
/*.blog-box-1 :hover{
  background-image: url(../images/killim.jpg);
  max-width: 600px;
  width: 100%;
  height:600px ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  border-radius: 100px;
  display: flex;
  opacity: 0.9;
}
.blog-box-p1:hover{
   display: none;
}
*/

.blog-box-p1{
  color:#fff ;
  font-size: 50px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
 position: relative;
  margin-top: -340px;
  
}

.blog-box-2-cont{
  max-width: 600px;
  width: 100%;
  height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-box-cont-1{
  max-width: 600px;
  width: 100%;
  height:290px ;
  margin-top: 10px;
}
.blog-box-img-2{
  background-image: url(../images/plane.jpg);
  max-width: 600px;
  width: 100%;
  height:290px ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.8;

}

.blog-box-p2{
  color:rgb(255, 255, 255) ;
  font-size: 25px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
 margin-top: -180px;
 position: relative;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
  
}


.blog-box-cont-2{
  max-width: 600px;
  width: 100%;
  height:290px ;
  margin-top: 10px;
}
.blog-box-img-3{
  background-image: url(../images/ibrahim-rifath-Y6tBl0pTe-g-unsplash.png);
  max-width: 600px;
  width: 100%;
  height:290px ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.8;

}
.blog-box-p3{
  color:#fff ;
  font-size: 25px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
 margin-top: -190px;
 position: relative;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
  
}
/*section-5*/
.section-5-book{
  max-width: 1280px;
  width: 100%;
  height: 600px;
  
  margin:  15px auto;
}
.section-5-book-img{
  background-image: url(../images/nature.jpg);
 
  width: 100%;
  height:600px ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 35px;
}
.section-5-book-p{
  color:rgb(32, 140, 167) ;
  font-size: 55px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
 margin-top: -370px;
 position: relative;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.section-5-book-box{
  width: 170px;
  height: 50px;
  background: rgb(111,185,223);
  background: -webkit-gradient(linear, left top, right top, from(rgba(111,185,223,1)), color-stop(50%, rgba(88,212,244,0.6477941518404237)), to(rgba(38,125,222,1)));
  background: -o-linear-gradient(left, rgba(111,185,223,1) 0%, rgba(88,212,244,0.6477941518404237) 50%, rgba(38,125,222,1) 100%);
  background: linear-gradient(90deg, rgba(111,185,223,1) 0%, rgba(88,212,244,0.6477941518404237) 50%, rgba(38,125,222,1) 100%); 
  border-radius: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
 color: #08AEEA;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 25px auto;
 position: relative;
 padding-top: 15px;
}




/*animation-section-2*/
.animation-section-2{
 
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #216da7;
  border-radius: 15px;
  
}



/*section-map*/
.map {
  max-width: 1280px;
  width: 100%;
  height: 450px;
  margin: 15px auto;
  border-radius: 25px;
}



/*footer*/

.footer{
    max-width: 1280px;
    width: 100%;
    height: 80px;
    background-color: rgb(42, 245, 218);
    border-radius: 25px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgb(175,236,234);
background: -webkit-gradient(linear, left top, right top, from(rgba(175,236,234,1)), color-stop(50%, rgba(88,244,213,0.6477941518404237)), to(rgba(107,201,246,1)));
background: -o-linear-gradient(left, rgba(175,236,234,1) 0%, rgba(88,244,213,0.6477941518404237) 50%, rgba(107,201,246,1) 100%);
background: linear-gradient(90deg, rgba(175,236,234,1) 0%, rgba(88,244,213,0.6477941518404237) 50%, rgba(107,201,246,1) 100%);
}

.footer-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 550px;
    width: 100%;
-webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    
}

.footer-icons{
    width: 190px;
    font-size: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

}
.last-p{
    text-align: center;
    background-color: #E1E8F8;
}





/*registracionnn*/



